{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
<div class='bg-gray-800 text-white p-5 md:py-8 md:px-20 lg:px-40 xl:px-60'>
  <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Projects Completed</p>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="static/images/power.png" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">Blinkit Analysis - Power BI Dashboard<p>
            <p class='text-justify my-3'>An insightful dashboard created using Power BI, offering detailed analysis and visualization of Blinkit's performance metrics and trends.</p>
            <ul class='mb-3'>
              <li>&#9989;  Developed a comprehensive dashboard using Power BI</li>
              <li>&#9989;  Utilized DAX for advanced calculations and data modeling.</li>
              <li>&#9989;   Interactive and visually appealing design for enhanced data insights
              </li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-python"></i> PowerBi</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-solid fa-server"></i> DAX</span>
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="static/images/what.png" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">WhatsApp Chat Analysis - Insights and Visualizations</p>
            <p class='text-justify my-3'>WhatsApp Chat Analysis is a data analysis project that leverages Python and statistical techniques to extract meaningful insights from exported user chats. This project focuses on transforming raw chat data into visually appealing charts and graphs, making it easy to understand communication patterns and engagement levels.</p>
            <ul class='mb-3'>
              <li>&#9989; Comprehensive Chat Data Analysis</li>
              <li>&#9989; Visualization of Insights in Charts and Graphs</li>
              <li>&#9989; User-Friendly Interface for Data Interaction</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-python"></i> Python</span>
           
            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/Aashray24092000/'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
                    
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="static/images/plant.png" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">Plant Disease Image Classification - Predictive Analysis</p>
            <p class='text-justify my-3'>The Plant Disease Image Classification project utilizes advanced deep learning techniques to identify and predict plant diseases based on uploaded images. This application enables users to simply upload a plant image and receive instant predictions regarding potential diseases, accompanied by graphical representations of the prediction confidence levels.</p>
            <ul class='mb-3'>
              <li>&#9989; Instant Disease Prediction from Uploaded Images</li>
              <li>&#9989; Visual Representation of Prediction Confidence</li>
              <li>&#9989; User-Friendly Interface for Seamless Interaction</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
              <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-python"></i> python</span>
              <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-deep learning"></i> CNN</span>
            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/Aashray24092000/'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
           
            </div>
          </div>
      </div>
      <div style="box-shadow:0 5px 30px 0 rgba(0,0,0,.05);" class='flex flex-col md:flex-row gap-4 md:gap-x-8 bg-gray-900 p-5 mb-4 rounded-lg'>
          <img class="post-img-url rounded-lg object-cover" width='350px' height='180px' src="static/images/port.png" alt="image">
          <div>
            <p style="font-family: Poppins-Bold" class="font-bold text-xl text-transparent bg-clip-text bg-gradient-to-r from-cyan-200 via-blue-300 to-blue-600">Portfolio - Showcase of Skills and Projects</p>
            <p class='text-justify my-3'>This Portfolio is a comprehensive showcase of my skills, projects, and experiences, developed using Django and Tailwind CSS. It features a user-friendly interface that highlights my expertise in various domains and presents my projects with detailed descriptions, technologies used, and links for further exploration.</p>
            <ul class='mb-3'>
              <li>&#9989; Interactive and Visually Engaging Design</li>
              <li>&#9989; Detailed Project Showcases with Descriptions</li>
              <li>&#9989;  Responsive Layout for Optimal Viewing on All Devices</li>
            </ul>
            <span class='text-lg font-bold'>Technologies used</span><br>
            <div class='flex space-x-2 my-3'>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-django"></i> django</span>
            <span class='text-xs bg-gradient-to-r from-cyan-500 to-blue-500 py-1 px-4 rounded-full'><i class="fa-brands fa-css3-alt"></i> Tailwind</span>

            </div>
            <div class='flex space-x-4 my-3'>
              <a href='https://github.com/Aashray24092000/'  target = '_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-slate-700 outline hover:outline-none outline-slate-700 transition delay-75 ease-in-out my-3'><i class="bi bi-github"></i> Github</button></a>
             
            </div>
          </div>
      </div>
      <div class='flex justify-center'>
        <a href='https://github.com/Aashray24092000/' target='_blank' class=''><button class='bg-gray-800 p-2 px-4 rounded-[6px] hover:bg-blue-600 outline hover:outline-none outline-blue-600 transition delay-75 ease-in-out my-3'>Load more <i class="bi bi-arrow-clockwise font-extrabold"></i></button></a>
      </div>
</div>
      {% endblock %}